<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= day %></h1>
    </div>

    <div class="box"></div>
     
    <div class="box">
        <% items.forEach(element => { %>
        <div class="item">
            <input type="checkbox">
            <p><%= element  %></p>
        </div>
        <% }) %>

        <form action="/" method="post">
            <input type="text", name="todoItem" placeholder="New Item" autocomplete="off" required>
            <button type="submit" name="button">+</button>
        </form>

    </div>


</body>
</html>